body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to top left, #350e68, #7dd56f);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow: hidden;
}

h1,
h2 {
  color: white;
}

h1 {
  font-size: 60px;
  text-align: center;
}

h2 {
  font-size: 30px;
}

.maincontainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  position: relative;
}

.inputcontainer {
  display: flex;
  gap: 16px;
}

.btn {
  border-radius: 20px;
  background: transparent;
  border: 1px solid white;
  padding: 10px;
  font-size: 20px;
  color: white;
}
.btn:hover {
  background: silver;
  color: rgb(43, 43, 43);
}

input {
  border-radius: 20px;
  font-size: 20px;
  border: none;
  text-align: center;
}

.Result {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.memecontainer {
  height: auto;
  width: auto;
  z-index: 1000;
  position: absolute;
  display: none;
}

.memecontainer--on {
  display: block;
}
